---
import { Icon } from "astro-icon/components";

import categoryResults from "@data/races/los_andes_trail/results.json";
---

<section>
    <div class="site-container pt-4">
        <div class="sm:hidden">
            <label for="tabs" class="sr-only">Select your country</label>
            <select
                id="tabs"
                class="dark:bg-primary-800 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
                {
                    categoryResults["distance"].map((distance) => (
                        <option>{distance.name}</option>
                    ))
                }
            </select>
        </div>
        <ul
            class="hidden text-md font-medium text-center text-gray-500 rounded-lg shadow sm:flex"
        >
            {
                categoryResults["distance"].map((distance) => (
                    <li class="w-full focus-within:z-10 border border-base-300 hover:cursor-pointer overflow-hidden relative">
                        <button class="w-full focus-within:shadow-lg" data-distance={distance.name}>
                            <span
                                class="main-text-gradient inline-block text-5xl w-full p-4 font-bold"
                                aria-current="page"
                            >
                                {distance.name}
                            </span>
                        </button>

                        <div class="absolute text-primary-800 dark:text-primary-200 opacity-50">
                            <Icon name="tabler/person-run" class="h-28 w-32" />
                        </div>
                    </li>
                ))
            }
        </ul>
    </div>

    {
        categoryResults["distance"].map((distance) => (
            <div
                class="site-container my-7 hide-table"
                id={"table-" + distance.name}
            >
                <div class="overflow-x-auto">
                    <table class="min-w-ful bg-none w-full">
                        <thead>
                            <tr class="bg-base-800 text-white">
                                <th class="px-2 py-3 w-4 text-left text-lg font-semibold">
                                    General
                                </th>
                                <th class="px-2 py-3 w-4 text-left text-lg font-semibold">
                                    Categoría
                                </th>
                                <th class="px-2 py-3 text-left text-lg font-semibold">
                                    Dorsal
                                </th>
                                <th class="px-2 py-3 text-left text-lg font-semibold">
                                    Nombres
                                </th>
                                <th class="px-2 py-3 text-left text-lg font-semibold">
                                    Categoría
                                </th>
                                <th class="px-2 py-3 text-left text-lg font-semibold">
                                    Tiempo Meta
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            {distance.results.map((result) => (
                                <tr class="dark:hover:bg-primary-900 hover:bg-base-300 transition-colors">
                                    <td class="px-2 py-2 text-md">
                                        <span>Posición General: </span>
                                        {result.general_position}
                                    </td>
                                    <td class="px-2 py-2 text-md">
                                        <span>Posición Categoría: </span>
                                        {result.category_position}
                                    </td>
                                    <td class="px-2 py-2 text-md">
                                        <span>Dorsal: </span>#{result.dorsal}
                                    </td>
                                    <td class="px-2 py-2 text-md font-medium">
                                        <div class="flex">
                                            <p class="runner-name text-white" style="color: aliceblue;">{result.name}</p>
                                            {result.general_position === 1 && (
                                                <Icon
                                                    name="tabler/medal"
                                                    class="h-6 w-6 text-yellow-500 dark:text-yellow-300"
                                                />
                                            )}
                                            {result.general_position === 2 && (
                                                <Icon
                                                    name="tabler/medal"
                                                    class="h-6 w-6 text-gray-500 dark:text-gray-300"
                                                />
                                            )}
                                            {result.general_position === 3 && (
                                                <Icon
                                                    name="tabler/medal"
                                                    class="h-6 w-6 text-yellow-800"
                                                />
                                            )}
                                        </div>
                                    </td>
                                    <td class="px-2 py-2 text-md">
                                        <span>Categoría: </span>
                                        {result.category}
                                    </td>
                                    <td class="px-2 py-2 text-md">
                                        {result.time}
                                    </td>
                                </tr>
                            ))}
                        </tbody>
                    </table>
                </div>
            </div>
        ))
    }
</section>
<script>
    import DataTable from "datatables.net-dt";

    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll("button[data-distance]").forEach((button) => {
            button.addEventListener("click", () => {
                showTable(button.getAttribute("data-distance") as string);
            });
        });
    });

    function showTable(distanceName: string) {
        console.log(distanceName);

        document
            .querySelector("div#table-" + distanceName)
            ?.classList.toggle("hide-table");

        document.querySelectorAll("div[id^='table-']").forEach((table) => {
            if (table.id !== "table-" + distanceName) {
                table.classList.add("hide-table");
            }
        });

        
    }

    import categoryResults from "@data/races/los_andes_trail/results.json";

    categoryResults["distance"].forEach((distance) => {
        new DataTable(`div#table-${distance.name} table`, {
            info: false,
            order: [[0, "asc"]],
            columnDefs: [{ type: "num", targets: 0 }],
            language: {
                search: "Buscar:",
                entries: {
                    _: "Correodores por página",
                    1: "Corredor",
                },
                zeroRecords: "No se encontraron resultados",
            },
        });
    });
</script>

<style>
    li:hover span {
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
    }
    li span {
        transition: transform 0.3s ease-in-out;
    }
    li div {
        right: -50%;
        top: 0;
        transition:
            right 0.3s ease-in-out,
            transform 0.3s ease-in-out;
    }
    li:hover div {
        right: 0%;
        transform: scale(1.1);
        transition: right 0.3s ease-in-out;
    }
    table span {
        display: none;
    }
    div.hide-table {
        display: none;
    }
    table thead tr th:nth-child(1) {
        width: 10%;
    }
    table thead tr th:nth-child(2) {
        width: 10%;
    }
    table thead tr th:nth-child(3) {
        width: 10%;
    }
    @media (max-width: 640px) {
        table {
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        table thead {
            display: none;
        }

        table,
        table tbody,
        table tr,
        table td {
            display: block;
            width: 100%;
        }

        table tr {
            display: flex;
            flex-wrap: wrap;
            padding: 8px;
            margin-bottom: 8px;
            border-radius: 6px;

            @apply border border-base-300 dark:border-base-600/60;
        }

        table tr td {
            padding: 4px 3px;
            position: relative;
            font-size: 0.85rem;
        }
        p.runner-name {
            color: white !important;
        }
        table tr td:nth-child(1) {
            width: 50%;
            order: 1;
        }

        table tr td:nth-child(2) {
            width: 50%;
            order: 2;
        }

        table tr td:nth-child(3) {
            width: 50%;
            order: 3;
        }

        table tr td:nth-child(4) {
            order: 0;
            width: 100%;
            font-size: 1rem;
            font-weight: 600;

            @apply border-base-300 dark:border-base-600/60 border-b-2 bg-gradient-to-r from-base-900 to-base-600/90 bg-clip-text pb-2 text-lg font-medium text-transparent md:text-6xl dark:from-base-300 dark:to-base-400/90;
        }

        table tr td:nth-child(5) {
            width: 50%;
            order: 4;
        }

        table tr td:nth-child(6) {
            width: 100%;
            order: 5;
            color: white;
            padding: 8px 12px;
            border-radius: 6px;
            font-family: monospace;
            font-size: 1rem;
            text-align: center;
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            letter-spacing: 2px;
            @apply bg-gradient-to-r from-base-900 to-base-600/90;
        }

        table td {
            text-align: center;
        }
        table td span {
            font-weight: bold;
            margin-bottom: 2px;
            display: block;
        }
        table td::before {
            content: attr(data-label);
            font-weight: 600;
            color: #4a5568;
            margin-bottom: 2px;
            display: block;
        }
    }
    .text-gold {
        color: gold;
    }
</style>
